!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title UP PDTS
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Page level plugin CSS
    %link{:href => "vendor/datatables/dataTables.bootstrap4.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body#page-top.fixed-nav.sticky-footer.bg-dark
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{:href => dashboard_path(emailadd: "#{@emailadd}")}
        %strong Physical Document Tracking System
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        %ul#exampleAccordion.navbar-nav.navbar-sidenav
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Dashboard"}
            %a.nav-link{:href => dashboard_path(emailadd: "#{@emailadd}")}
              %i.fa.fa-fw.fa-dashboard
              %span.nav-link-text Dashboard
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
            %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseComponents"}
              %i.fa.fa-fw.fa-file-text
              %span.nav-link-text Documents
            %ul#collapseComponents.sidenav-second-level.collapse
              %li
                %a.nav-link{:href => view_documents_path(emailadd: "#{@emailadd}")}
                  %i.fa.fa-fw.fa-eye
                  %span.nav-link-text View Documents
              %li
                %a.nav-link{:href => add_document_path(emailadd: "#{@emailadd}")}
                  %i.fa.fa-fw.fa-pencil
                  %span.nav-link-text Add Documents
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
              %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseFolders"}
                %i.fa.fa-fw.fa-folder
                %span.nav-link-text Folders
              %ul#collapseFolders.sidenav-second-level.collapse
                %li
                  - @folders.each do |folder|
                    %a.nav-link{:href => folder_year_path(doc_type: folder.doc_type, emailadd: "#{@emailadd}")}
                      %i.fa.fa-fw.fa-folder-open
                      %span.nav-link-text
                      %td= folder.doc_type
          - if @isAdmin || @isSecretary
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Settings"}
              %a.nav-link{:href => settings_path(emailadd: "#{@emailadd}")}
                %i.fa.fa-fw.fa-gear
                %span.nav-link-text Settings
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Account"}
            %a.nav-link{:href => profile_information_path(emailadd: "#{@user.emailadd}")}
              %i.fa.fa-fw.fa-user
              %span.nav-link-text Account
        %ul.navbar-nav.sidenav-toggler
          %li.nav-item
            %a#sidenavToggler.nav-link.text-center
              %i.fa.fa-fw.fa-angle-left
        %ul.navbar-nav.ml-auto
          %li.nav-item.dropdown
            %a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-fw.fa-bell
              %span.d-lg-none
                Alerts
                %span.badge.badge-pill.badge-warning 6 New
              %span.indicator.text-warning.d-none.d-lg-block
                %i.fa.fa-fw.fa-circle
            .dropdown-menu{"aria-labelledby" => "alertsDropdown"}
              %h6.dropdown-header New Alerts:
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                %span.text-success
                  %strong
                    %i.fa.fa-long-arrow-up.fa-fw>
                    Status Update
                %span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                %span.text-danger
                  %strong
                    %i.fa.fa-long-arrow-down.fa-fw>
                    Status Update
                %span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                %span.text-success
                  %strong
                    %i.fa.fa-long-arrow-up.fa-fw>
                    Status Update
                %span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
              .dropdown-divider
              %a.dropdown-item.small{:href => "#"} View all alerts
          %li.nav-item
            %a.nav-link{"data-target" => "#exampleModal", "data-toggle" => "modal"}
              %i.fa.fa-fw.fa-sign-out>
              Logout

    .content-wrapper
      - if flash[:danger]
        .alert.alert-danger.alert-dismissible.fade.show{"data-auto-dismiss" => "2000", :role => "alert"}
          %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
          %b.notice= flash[:danger]
      - if flash[:notice]
        .alert.alert-success.alert-dismissible.fade.show{"data-auto-dismiss" => "2000", :role => "alert"}
          %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
          %b.notice= flash[:notice]
      .container-fluid
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item.active Dashboard
        / Icon Cards
        .row
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-primary.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-group
                .mr-5
                  %b TOTAL USERS: #{@countUser}
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-warning.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-file-text
                .mr-5
                  %b TOTAL DOCUMENTS: #{@countDocument}
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-success.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-upload
                .mr-5
                  %b TOTAL ATTACHMENTS: #{@countAttachment}
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-danger.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-gears
                .mr-5
                  %b TOTAL TRANSACTIONS: #{@countTransactions}



        - if @isAdmin
          .card.mb-3
            %ul.nav.nav-tabs.profile-tab{:role => "tablist"}
              %li.nav-item
                %a.nav-link.active{"data-toggle" => "tab", :href => "#reqs", :role => "tab"} All Pending Requests
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#docs", :role => "tab"} All Existing Documents
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#accts", :role => "tab"} All Existing Users
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#files", :role => "tab"} All Existing Attachments
            .tab-content
              #reqs.tab-pane.active{:role => "tabpanel"}
                .card-body
                  .table-responsive
                    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                      %thead{:align => "center"}
                        %tr
                          %th Name
                          %th Email
                          %th Job Title
                          %th Contact #
                          %th Options
                      %tbody{:align => "center"}
                        - @requests.each do |request|
                          %tr
                            %td= request.first_name + " " + request.last_name
                            %td= request.emailadd
                            %td= request.job_title
                            %td= request.phone
                            %td
                              %a.btn-sm.btn-success{:href => accept_request_path(emailadd: request.emailadd)} Accept
                              %a.btn-sm.btn-danger{:href => delete_request_path(emailadd: request.emailadd), :onclick => "return confirm('Are you sure you want to reject the request?')"} Reject
                              :javascript
                                function confirm_delete() {
                                  return confirm('Are you sure you want to reject the request?');
                                }
              #docs.tab-pane{:role => "tabpanel"}
                .card-body
                  .table-responsive
                    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                      %thead{:align => "center"}
                        %tr
                        %th Name
                        %th Author
                      %tbody{:align => "center"}
                        - @countDocumentToday.each do |document|
                          %tr
                          %td= document.name
                          %td= document.author_name

              #accts.tab-pane{:role => "tabpanel"}
                .card-body
                  .table-responsive
                    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                      %thead{:align => "center"}
                      %tr
                        %th Email Address
                        %th Full Name
                        %th Job Title
                      %tbody{:align => "center"}
                      - @users.each do |user|
                        %tr
                          %td= user.emailadd
                          %td= user.first_name + " " + user.last_name
                          %td= user.job_title

              #files.tab-pane{:role => "tabpanel"}
                .card-body
                  .table-responsive
                  %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                    %thead{:align => "center"}
                      %tr
                        %th Name of File
                        %th
                      %tbody{:align => "center"}
                      - @attachments.each do |attachment|
                        %tr
                          %td= attachment.attachment_in_database
                          %td= link_to "Download", attachment.attachment_url

      / /.container-fluid
      / /.content-wrapper
      / Scroll to Top Button
      %a.scroll-to-top.rounded{:href => "#page-top"}
        %i.fa.fa-angle-up
      / Logout Modal
      #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Ready to Leave?
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body Select "Logout" below if you are ready to end your current session.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              %a.btn.btn-primary{:href => "/log_user", :id => "sign_out"} Logout
      / Bootstrap core JavaScript
      %script{:src => "vendor/jquery/jquery.min.js"}
      %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
      / Core plugin JavaScript
      %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
      / Page level plugin JavaScript
      %script{:src => "vendor/chart.js/Chart.min.js"}
      %script{:src => "vendor/datatables/jquery.dataTables.js"}
      %script{:src => "vendor/datatables/dataTables.bootstrap4.js"}
      / Custom scripts for all pages
      %script{:src => "js/sb-admin.min.js"}
      / Custom scripts for this page
      %script{:src => "js/sb-admin-datatables.min.js"}
      %script{:src => "js/sb-admin-charts.min.js"}
