!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Physical Document Tracking System
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Page level plugin CSS
    %link{:href => "vendor/datatables/dataTables.bootstrap4.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body#page-top.fixed-nav.sticky-footer.bg-dark
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{:href => "/dashboard"}
        %strong Physical Document Tracking System
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        %ul#exampleAccordion.navbar-nav.navbar-sidenav
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Dashboard"}
            %a.nav-link{:href => "/dashboard"}
              %i.fa.fa-fw.fa-dashboard
              %span.nav-link-text Dashboard
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "View Documents"}
            %a.nav-link{:href => "/view_documents"}
              %i.fa.fa-fw.fa-file
              %span.nav-link-text View Documents
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Folders"}
            %a.nav-link{:href => "/folders"}
              %i.fa.fa-fw.fa-folder
              %span.nav-link-text Folders
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Account"}
            %a.nav-link{:href => "/profile_information"}
              %i.fa.fa-fw.fa-user
              %span.nav-link-text Account
        %ul.navbar-nav.sidenav-toggler
          %li.nav-item
            %a#sidenavToggler.nav-link.text-center
              %i.fa.fa-fw.fa-angle-left
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link{"data-target" => "#exampleModal", "data-toggle" => "modal"}
              %i.fa.fa-fw.fa-sign-out>
              Logout
    .content-wrapper
      .container-fluid
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => "#"} Dashboard
          %li.breadcrumb-item.active My Dashboard
        / Icon Cards
        .row
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-primary.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-user
                .mr-5 #{@countUser} TOTAL USERS
              %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                %span.float-left View Details
                %span.float-right
                  %i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-warning.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-file
                .mr-5 #{@countDocument} TOTAL DOCUMENTS
              %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                %span.float-left View Details
                %span.float-right
                  %i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-success.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-shopping-cart
                .mr-5 123 New Orders!
              %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                %span.float-left View Details
                %span.float-right
                  %i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-danger.o-hidden.h-100
              .card-body
                .card-body-icon
                  %i.fa.fa-fw.fa-support
                .mr-5 13 New Tickets!
              %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                %span.float-left View Details
                %span.float-right
                  %i.fa.fa-angle-right
        / Area Chart Example
        .card.mb-3
          .card-header
            %i.fa.fa-area-chart
            Area Chart Example
          .card-body
            %canvas#myAreaChart{:height => "30", :width => "100%"}
        .row
          .col-lg-8
            / Example Bar Chart Card
            .card.mb-3
              .card-header
                %i.fa.fa-bar-chart
                Bar Chart Example
              .card-body
                .row
                  .col-sm-8.my-auto
                    %canvas#myBarChart{:height => "50", :width => "100"}
                  .col-sm-4.text-center.my-auto
                    .h4.mb-0.text-primary $34,693
                    .small.text-muted YTD Revenue
                    %hr/
                    .h4.mb-0.text-warning $18,474
                    .small.text-muted YTD Expenses
                    %hr/
                    .h4.mb-0.text-success $16,219
                    .small.text-muted YTD Margin
            / Card Columns Example Social Feed
            .mb-0.mt-4
              %i.fa.fa-newspaper-o
              News Feed
            %hr.mt-2/
            .card-columns
              / Example Social Card
              .card.mb-3
                %a{:href => "#"}
                  %img.card-img-top.img-fluid.w-100{:alt => "", :src => "https://unsplash.it/700/450?image=610"}/
                .card-body
                  %h6.card-title.mb-1
                    %a{:href => "#"} David Miller
                  %p.card-text.small
                    These waves are looking pretty good today!
                    %a{:href => "#"} #surfsup
                %hr.my-0/
                .card-body.py-2.small
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-thumbs-up>
                    Like
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-comment>
                    Comment
                  %a.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-share>
                    Share
                %hr.my-0/
                .card-body.small.bg-faded
                  .media
                    %img.d-flex.mr-3{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %h6.mt-0.mb-1>
                        %a{:href => "#"} John Smith
                      Very nice! I wish I was there! That looks amazing!
                      %ul.list-inline.mb-0
                        %li.list-inline-item
                          %a{:href => "#"} Like
                        %li.list-inline-item ·
                        %li.list-inline-item
                          %a{:href => "#"} Reply
                      .media.mt-3
                        %a.d-flex.pr-3{:href => "#"}
                          %img{:alt => "", :src => "http://placehold.it/45x45"}/
                        .media-body
                          %h6.mt-0.mb-1>
                            %a{:href => "#"} David Miller
                          Next time for sure!
                          %ul.list-inline.mb-0
                            %li.list-inline-item
                              %a{:href => "#"} Like
                            %li.list-inline-item ·
                            %li.list-inline-item
                              %a{:href => "#"} Reply
                .card-footer.small.text-muted Posted 32 mins ago
              / Example Social Card
              .card.mb-3
                %a{:href => "#"}
                  %img.card-img-top.img-fluid.w-100{:alt => "", :src => "https://unsplash.it/700/450?image=180"}/
                .card-body
                  %h6.card-title.mb-1
                    %a{:href => "#"} John Smith
                  %p.card-text.small
                    Another day at the office...
                    %a{:href => "#"} #workinghardorhardlyworking
                %hr.my-0/
                .card-body.py-2.small
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-thumbs-up>
                    Like
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-comment>
                    Comment
                  %a.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-share>
                    Share
                %hr.my-0/
                .card-body.small.bg-faded
                  .media
                    %img.d-flex.mr-3{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %h6.mt-0.mb-1>
                        %a{:href => "#"} Jessy Lucas
                      Where did you get that camera?! I want one!
                      %ul.list-inline.mb-0
                        %li.list-inline-item
                          %a{:href => "#"} Like
                        %li.list-inline-item ·
                        %li.list-inline-item
                          %a{:href => "#"} Reply
                .card-footer.small.text-muted Posted 46 mins ago
              / Example Social Card
              .card.mb-3
                %a{:href => "#"}
                  %img.card-img-top.img-fluid.w-100{:alt => "", :src => "https://unsplash.it/700/450?image=281"}/
                .card-body
                  %h6.card-title.mb-1
                    %a{:href => "#"} Jeffery Wellings
                  %p.card-text.small
                    Nice shot from the skate park!
                    %a{:href => "#"} #kickflip
                    %a{:href => "#"} #holdmybeer
                    %a{:href => "#"} #igotthis
                %hr.my-0/
                .card-body.py-2.small
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-thumbs-up>
                    Like
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-comment>
                    Comment
                  %a.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-share>
                    Share
                .card-footer.small.text-muted Posted 1 hr ago
              / Example Social Card
              .card.mb-3
                %a{:href => "#"}
                  %img.card-img-top.img-fluid.w-100{:alt => "", :src => "https://unsplash.it/700/450?image=185"}/
                .card-body
                  %h6.card-title.mb-1
                    %a{:href => "#"} David Miller
                  %p.card-text.small
                    It's hot, and I might be lost...
                    %a{:href => "#"} #desert
                    %a{:href => "#"} #water
                    %a{:href => "#"} #anyonehavesomewater
                    %a{:href => "#"} #noreally
                    %a{:href => "#"} #thirsty
                    %a{:href => "#"} #dehydration
                %hr.my-0/
                .card-body.py-2.small
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-thumbs-up>
                    Like
                  %a.mr-3.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-comment>
                    Comment
                  %a.d-inline-block{:href => "#"}
                    %i.fa.fa-fw.fa-share>
                    Share
                %hr.my-0/
                .card-body.small.bg-faded
                  .media
                    %img.d-flex.mr-3{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %h6.mt-0.mb-1>
                        %a{:href => "#"} John Smith
                      The oasis is a mile that way, or is that just a mirage?
                      %ul.list-inline.mb-0
                        %li.list-inline-item
                          %a{:href => "#"} Like
                        %li.list-inline-item ·
                        %li.list-inline-item
                          %a{:href => "#"} Reply
                      .media.mt-3
                        %a.d-flex.pr-3{:href => "#"}
                          %img{:alt => "", :src => "http://placehold.it/45x45"}/
                        .media-body
                          %h6.mt-0.mb-1
                            %a{:href => "#"} David Miller
                          = succeed "I'm" do
                            %img.img-fluid.w-100.mb-1{:alt => "", :src => "https://unsplash.it/700/450?image=789"}/
                          %ul.list-inline.mb-0
                            %li.list-inline-item
                              %a{:href => "#"} Like
                            %li.list-inline-item ·
                            %li.list-inline-item
                              %a{:href => "#"} Reply
                .card-footer.small.text-muted Posted yesterday
            / /Card Columns
          .col-lg-4
            / Example Pie Chart Card
            .card.mb-3
              .card-header
                %i.fa.fa-pie-chart
                Pie Chart Example
              .card-body
                %canvas#myPieChart{:height => "100", :width => "100%"}
            / Example Notifications Card
            .card.mb-3
              .card-header
                %i.fa.fa-bell-o
                Feed Example
              .list-group.list-group-flush.small
                %a.list-group-item.list-group-item-action{:href => "#"}
                  .media
                    %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %strong> David Miller
                      posted a new article to
                      = succeed "." do
                        %strong David Miller Website
                      .text-muted.smaller Today at 5:43 PM - 5m ago
                %a.list-group-item.list-group-item-action{:href => "#"}
                  .media
                    %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %strong> Samantha King
                      sent you a new message!
                      .text-muted.smaller Today at 4:37 PM - 1hr ago
                %a.list-group-item.list-group-item-action{:href => "#"}
                  .media
                    %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %strong> Jeffery Wellings
                      added a new photo to the album
                      = succeed "." do
                        %strong Beach
                      .text-muted.smaller Today at 4:31 PM - 1hr ago
                %a.list-group-item.list-group-item-action{:href => "#"}
                  .media
                    %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/45x45"}/
                    .media-body
                      %i.fa.fa-code-fork
                      = succeed "forked" do
                        %strong Monica Dennis
                      = succeed "repository" do
                        %strong startbootstrap-sb-admin
                      = succeed "." do
                        %strong GitHub
                      .text-muted.smaller Today at 3:54 PM - 2hrs ago
                %a.list-group-item.list-group-item-action{:href => "#"} View all activity...

      / /.container-fluid
      / /.content-wrapper
      %footer.sticky-footer
        .container
          .text-center
            %small Copyright © Your Website 2018
      / Scroll to Top Button
      %a.scroll-to-top.rounded{:href => "#page-top"}
        %i.fa.fa-angle-up
      / Logout Modal
      #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Ready to Leave?
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body Select "Logout" below if you are ready to end your current session.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              %a.btn.btn-primary{:href => "/log_user"} Logout
      / Bootstrap core JavaScript
      %script{:src => "vendor/jquery/jquery.min.js"}
      %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
      / Core plugin JavaScript
      %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
      / Page level plugin JavaScript
      %script{:src => "vendor/chart.js/Chart.min.js"}
      %script{:src => "vendor/datatables/jquery.dataTables.js"}
      %script{:src => "vendor/datatables/dataTables.bootstrap4.js"}
      / Custom scripts for all pages
      %script{:src => "js/sb-admin.min.js"}
      / Custom scripts for this page
      %script{:src => "js/sb-admin-datatables.min.js"}
      %script{:src => "js/sb-admin-charts.min.js"}
