!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title UP PDTS
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body#page-top.fixed-nav.sticky-footer.bg-dark
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{:href => dashboard_path(emailadd: "#{@emailadd}")}
        %strong Physical Document Tracking System
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        %ul#exampleAccordion.navbar-nav.navbar-sidenav
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Dashboard"}
            %a.nav-link{:href => dashboard_path(emailadd: "#{@emailadd}")}
              %i.fa.fa-fw.fa-dashboard
              %span.nav-link-text Dashboard
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
            %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseComponents"}
              %i.fa.fa-fw.fa-file-text
              %span.nav-link-text Documents
            %ul#collapseComponents.sidenav-second-level.collapse
              %li
                %a{:href => view_documents_path(emailadd: "#{@emailadd}")} View Documents
              %li
                %a{:href => add_document_path(emailadd: "#{@emailadd}")} Add Documents
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
              %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseFolders"}
                %i.fa.fa-fw.fa-folder
                %span.nav-link-text Folders
              %ul#collapseFolders.sidenav-second-level.collapse
                %li
                  - @folders.each do |folder|
                    %a.nav-link{:href => folder_year_path(doc_type: folder.doc_type, emailadd: "#{@emailadd}")}
                      %i.fa.fa-fw.fa-folder-open
                      %span.nav-link-text
                      %td= folder.doc_type
          - if @isAdmin || @isSecretary
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Settings"}
              %a.nav-link{:href => settings_path(emailadd: "#{@emailadd}")}
                %i.fa.fa-fw.fa-gear
                %span.nav-link-text Settings
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Account"}
            %a.nav-link{:href => profile_information_path(emailadd: "#{@emailadd}")}
              %i.fa.fa-fw.fa-user
              %span.nav-link-text Account
        %ul.navbar-nav.sidenav-toggler
          %li.nav-item
            %a#sidenavToggler.nav-link.text-center
              %i.fa.fa-fw.fa-angle-left
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link{"data-target" => "#exampleModal", "data-toggle" => "modal"}
              %i.fa.fa-fw.fa-sign-out>
              Logout
    .content-wrapper
      .container-fluid
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => dashboard_path(emailadd: "#{@emailadd}")} Dashboard
          %li.breadcrumb-item
            %a{:href => view_documents_path(emailadd: "#{@emailadd}")} View Documents
          %li.breadcrumb-item.active Add Document
        / Example DataTables Card
        .card.mb-3
          .card-header
            %i.fa.fa-list-alt
            Add Document
          .card-body
            .form-validation
              %form.form-valide{:action => "add_document", :method => "get", :name =>"addDocument"}
                .form-group
                  %h4
                    %b DOCUMENT INFORMATION
                  .form-group
                    .form-row
                      .col-md-6
                        %label{:for => "val-docname"}
                          Document Name
                          %span.text-danger *
                        %input#val-docname.form-control{:name => "document[name]", :placeholder => "Name of the Document", :type => "text", :required => 'required'}/
                      .col-md-6
                        %label{:for => "val-doctype"}
                          Document Type
                          %span.text-danger *
                        %select#val-doctype.form-control{:name => "document[doc_type]", :required => 'required'}
                          - @doc_type.each do |t|
                            %option{:value => t.name}
                              %td= t.name
                  .form-group
                    %label{:for => "val-description"}
                      Description
                      %span.text-danger *
                    %div
                      %input#val-description.form-control{:name => "document[description]", :placeholder => "Add Description here", :type => "text", :required => 'required'}/
                  .form-group
                    %label{:for => "val-location"}
                      Location
                      %span.text-danger *
                    %div
                      %input#val-location.form-control{:name => "document[location]", :placeholder => "Location of the Document", :type => "text", :required => 'required'}/
                .form-group
                  %h4
                    %b AUTHOR INFORMATION
                  .form-group
                    .form-row
                      .col-md-6
                        %label{:for => "val-authorname"}
                          Name
                          %span.text-danger *
                        %input#val-authorname.form-control{:name => "author[name]", :placeholder => "Name of the Author", :type => "text", :required => 'required'}/
                      .col-md-6
                        %label{:for => "val-contactnum"}
                          Contact Number
                          %span.text-danger *
                        %input#val-contactnum.form-control{:name => "author[contact]", :placeholder => "+69278781163", :type => "text", :required => 'required'}/
                  .form-group
                    .form-row
                      .col-md-6
                        %label{:for => "val-department"}
                          Department
                        %input#val-department.form-control{:name => "author[department]", :placeholder => "Name of the Department", :type => "text"}/
                      .col-md-6
                        %label{:for => "val-agency"}
                          Agency
                          %span.text-danger *
                        %input#val-agency.form-control{:name => "author[agency]", :placeholder => "Name of the Agency", :type => "text", :required => 'required'}/
                  .form-group
                    %label{:for => "val-address"}
                      Address
                      %span.text-danger *
                    %div
                      %input#val-address.form-control{:name => "author[address]", :placeholder => "Address of the Author", :type => "text", :required => 'required'}/
                      %input#val-doctypename.form-control{:name => "emailadd", :value => "#{@emailadd}", :type => "hidden"}/
                %div
                  %button.btn.btn-primary{:type => "submit"} Add
                  %a.btn.btn-secondary{:href => view_documents_path(emailadd: "#{@emailadd}")} Back
        / /.container-fluid
        / /.content-wrapper
        / Scroll to Top Button
        %a.scroll-to-top.rounded{:href => "#page-top"}
          %i.fa.fa-angle-up
        / Logout Modal
        #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %h5#exampleModalLabel.modal-title Ready to Leave?
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body Select "Logout" below if you are ready to end your current session.
              .modal-footer
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
                %a.btn.btn-primary{:href => "/log_user", :id => "sign_out"} Logout
        / Bootstrap core JavaScript
        %script{:src => "vendor/jquery/jquery.min.js"}
        %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
        / Core plugin JavaScript
        %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
        / Page level plugin JavaScript
        %script{:src => "vendor/chart.js/Chart.min.js"}
        %script{:src => "vendor/datatables/jquery.dataTables.js"}
        %script{:src => "vendor/datatables/dataTables.bootstrap4.js"}
        / Custom scripts for all pages
        %script{:src => "js/sb-admin.min.js"}
        / Custom scripts for this page
        %script{:src => "js/sb-admin-datatables.min.js"}
        %script{:src => "js/sb-admin-charts.min.js"}
