!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title UP PDTS
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body.bg-dark
    .container
      .card.card-register.mx-auto.mt-5
        .card-header Register an Account
        .card-body
          - if flash[:error]
            .alert.alert-danger.alert-dismissible.show.fade{"data-auto-dismiss" => "1000", :role => "alert"}
              %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
              %b.notice= flash[:error]
          .form-validation
            %form.form-valide{:action => "redirect_acct", :method => "post", :name => "create_account"}
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "first_name"}
                      First name
                      %span.text-danger *
                    %div
                      %input#firstname.form-control{:required =>"required", :name => "first_name", :placeholder => "Enter first name", :type => "text", :value => "#{@first_name}"}/
                  .col-md-6
                    %label{:for => "last_name"}
                      Last name
                      %span.text-danger *
                    %div
                      %input#lastname.form-control{:required =>"required", :name => "last_name", :placeholder => "Enter last name", :type => "text", :value => "#{@last_name}"}/
              .form-group
                %label{:for => "emailadd"}
                  Email address
                  %span.text-danger *
                %div
                  %input#email.form-control{:required =>"required", :name => "emailadd", :placeholder => "example@up.edu.ph", :type => "text", :value => "#{@emailadd}"}/
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "password"}
                      Password
                      %span.text-danger *
                    %input#password.form-control{:required =>"required", :name => "password", :placeholder => "*****", :type => "password", :value => "#{@password}"}/
                  .col-md-6
                    %label{:for => "confirm-password"}
                      Confirm password
                      %span.text-danger *
                    %input#confirm-password.form-control{:required =>"required", :name => "password_confirmation", :placeholder => "*****", :type => "password", :value => "#{@password}"}/
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "jobtitle"}
                      Job Title
                      %span.text-danger *
                    %select#jobtitle.form-control{:name => "job_title", :required => 'required'}
                      - @job_title.each do |job|
                        %option{:value => job.name}
                          %td= job.name
                  .col-md-6
                    %label{:for => "phone"}
                      Contact Number
                      %span.text-danger *
                    %input#phone.form-control{:required =>"required", :name => "phone", :placeholder => "+639123456789", :type => "text", :value => "#{@phone}"}/
              %button.btn.btn-primary.btn-block{:type => "submit"} Register
          .text-center
            %a.d-block.small.mt-3{:href => "/auth/google_oauth2", :id => "sign_in"} Use UP Mail
            %a.d-block.small{:href => "/login"} Login Page
            %a.d-block.small{:href => "/"} Back to Homepage
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
    / Form validation
    %script{:src => "js/lib/form-validation/jquery.validate.min.js"}
    %script{:src => "js/lib/form-validation/jquery.validate-init.js?v=1"}
