!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Phyiscal Document Tracking System
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body.bg-dark
    .container
      .card.card-register.mx-auto.mt-5
        .card-header Register an Account
        .card-body
          .form-validation
            %form.form-valide{:action => "redirect_acct", :method => "post", :name => "create_account"}
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "firstname"}
                      First name
                      %span.text-danger *
                    %div
                      %input#firstname.form-control{:name => "firstname", :placeholder => "Enter first name", :type => "text", :value => "#{@firstname}"}/
                  .col-md-6
                    %label{:for => "lastname"}
                      Last name
                      %span.text-danger *
                    %div
                      %input#lastname.form-control{:name => "lastname", :placeholder => "Enter last name", :type => "text", :value => "#{@lastname}"}/
              .form-group
                %label{:for => "emailadd"}
                  Email address
                  %span.text-danger *
                %div
                  %input#email.form-control{:name => "emailadd", :placeholder => "example@up.edu.ph", :type => "text", :value => "#{@emailadd}"}/
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "password"}
                      Password
                      %span.text-danger *
                    %input#password.form-control{:name => "password", :placeholder => "*****", :type => "password", :value => "#{@password}"}/
                  .col-md-6
                    %label{:for => "confirm-password"}
                      Confirm password
                      %span.text-danger *
                    %input#confirm-password.form-control{:name => "confirm-password", :placeholder => "*****", :type => "password", :value => "#{@password}"}/
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "jobtitle"}
                      Job Title
                      %span.text-danger *
                    %input#jobtitle.form-control{:name => "jobtitle", :placeholder => "Job Title", :type => "text", :value => "#{@jobtitle}"}/
                  .col-md-6
                    %label{:for => "phone"}
                      Contact Number
                      %span.text-danger *
                    %input#phone.form-control{:name => "phone", :placeholder => "+639123456789", :type => "text", :value => "#{@phone}"}/
              %button.btn.btn-primary.btn-block{:type => "submit"} Register
          .text-center
            %a.d-block.small.mt-3{:href => "/"} Login Page
            %a.d-block.small{:href => "/forgot"} Forgot Password?
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
    / Form validation
    %script{:src => "js/lib/form-validation/jquery.validate.min.js"}
    %script{:src => "js/lib/form-validation/jquery.validate-init.js?v=1"}
