!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title UP PDTS
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body#page-top.fixed-nav.sticky-footer.bg-dark
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{:href => dashboard_path(emailadd: "#{@emailadd}")}
        %strong Physical Document Tracking System
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        %ul#exampleAccordion.navbar-nav.navbar-sidenav
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Dashboard"}
            %a.nav-link{:href => dashboard_path(emailadd: "#{@emailadd}")}
              %i.fa.fa-fw.fa-dashboard
              %span.nav-link-text Dashboard
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
            %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseComponents"}
              %i.fa.fa-fw.fa-file-text
              %span.nav-link-text Documents
            %ul#collapseComponents.sidenav-second-level.collapse
              %li
                %a.nav-link{:href => view_documents_path(emailadd: "#{@emailadd}")}
                  %i.fa.fa-fw.fa-eye
                  %span.nav-link-text View Documents
              - if !@isOthers
                %li
                  %a.nav-link{:href => add_document_path(emailadd: "#{@emailadd}")}
                    %i.fa.fa-fw.fa-pencil
                    %span.nav-link-text Add Documents
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Components"}
              %a.nav-link.nav-link-collapse.collapsed{"data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#collapseFolders"}
                %i.fa.fa-fw.fa-folder
                %span.nav-link-text Folders
              %ul#collapseFolders.sidenav-second-level.collapse
                %li
                  - @folders.each do |folder|
                    %a.nav-link{:href => folder_year_path(doc_type: folder.doc_type, emailadd: "#{@emailadd}")}
                      %i.fa.fa-fw.fa-folder-open
                      %span.nav-link-text
                      %td= folder.doc_type
          - if @isAdmin || @isSecretary
            %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Settings"}
              %a.nav-link{:href => settings_path(emailadd: "#{@emailadd}")}
                %i.fa.fa-fw.fa-gear
                %span.nav-link-text Settings
          %li.nav-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Account"}
            %a.nav-link{:href => profile_information_path(emailadd: "#{@emailadd}")}
              %i.fa.fa-fw.fa-user
              %span.nav-link-text Account
        %ul.navbar-nav.sidenav-toggler
          %li.nav-item
            %a#sidenavToggler.nav-link.text-center
              %i.fa.fa-fw.fa-angle-left
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link{"data-target" => "#exampleModal", "data-toggle" => "modal"}
              %i.fa.fa-fw.fa-sign-out>
              Logout
    .content-wrapper
      .container-fluid
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => dashboard_path(emailadd: "#{@emailadd}")} Dashboard
          %li.breadcrumb-item.active Account
        .card.mb-3
          .card-header
            %i.fa.fa-user
            Account Details
          .card-body
            - if flash[:notice]
              .alert.alert-success.alert-dismissible.fade.show{"data-auto-dismiss" => "2000", :role => "alert"}
                %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
                %b.notice= flash[:notice]
            .form-validation
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "val-firstname"}
                      %b First Name
                    %input#val-firstname.form-control{:value => "#{@current_user.first_name}", :disabled => "disabled"}/
                  .col-md-6
                    %label{:for => "val-lastname"}
                      %b Last Name
                    %input#val-lastname.form-control{:value => "#{@current_user.last_name}", :disabled => "disabled"}/
              .form-group
                %label{:for => "val-email"}
                  %b Email Address
                %input#val-email.form-control{:value => "#{@emailadd}", :disabled => "disabled"}/
              .form-group
                .form-row
                  .col-md-6
                    %label{:for => "val-jobtitle"}
                      %b Job Title
                    %input#val-jobtitle.form-control{:value => "#{@current_user.job_title}", :disabled => "disabled"}/
                  .col-md-6
                    %label{:for => "val-contact"}
                      %b Contact Number
                    %input#val-contact.form-control{:placeholder => "#{@current_user.phone}", :disabled => "disabled"}/
              %a.btn.btn-primary{:href => edit_profile_information_path(emailadd: "#{@emailadd}")} Update Account
              %a.btn.btn-danger{:href => delete_user_path(emailadd: "#{@emailadd}"), :onclick => "return confirm('Are you sure you want to delete your account?')"} Delete Account
              :javascript
                function confirm_delete() {
                  return confirm('Are you sure you want to delete your account?');
                }
            .text-center
      / /.container-fluid
      / /.content-wrapper
      / Scroll to Top Button
      %a.scroll-to-top.rounded{:href => "#page-top"}
        %i.fa.fa-angle-up
      / Logout Modal
      #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Ready to Leave?
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body Select "Logout" below if you are ready to end your current session.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              %a.btn.btn-primary{:href => "/log_user", :id => "sign_out"} Logout
      / Bootstrap core JavaScript
      %script{:src => "vendor/jquery/jquery.min.js"}
      %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
      / Core plugin JavaScript
      %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
      / Custom scripts for all pages
      %script{:src => "js/sb-admin.min.js"}
